<!DOCTYPE html>
<html>
<head>
	<title>Hello vue js</title>
	<meta charset="utf-8">
</head>
<body>

	<div id="app">
		<h1>{{ title }}</h1>
		<button v-on:click="btnClick">Change couter +1</button>
		<h2>Counter: {{ counter }}</h2>
		<input v-model="counter">

		<hr>

		<input v-model="inputVal">
		<button @click="getInputVal(inputVal)">Get input value (alert)</button>
	</div>


	<script src="node_modules/vue/dist/vue.js"></script>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				title: "Hello Vue JS!",
				counter: 0,
				inputVal: "",
			},
			methods: {
				btnClick: function () {
					this.counter = parseInt(this.counter) + 1
				},

				getInputVal: function(value) {
					alert(value);
				},
			}
		});
	</script>
</body>
</html>